<section class="repo-list-container" data-ng-controller="homeCtrl">
	<h1 class="owner-name" data-ng-bind="::username"></h1>
	<div class="repo-list">
		<div class="repo-list-item" data-ng-repeat="project in projects">
			<h4 class="repo-item-name">
			   <a href="#/project/{{::project.name}}"
			   data-ng-bind="::project.name"
			   data-ng-click="setProjectInfo(project)"></a>
			</h4>
            <div class="repo-item-description" data-ng-bind="::project.description"></div>
		</div>
	</div>
</section>
