.repo-list-container {
  position: relative;
  overflow: hidden;
  padding: 5em 2%;
  .owner-name {
    position: relative;
    overflow: hidden;
    float: none;
  }
  .repo-list {
    position: relative;
    overflow: hidden;
    background: #FAFAFA;
    padding: 0 2%;
    .repo-list-item {
      width: 30%;
      position: relative;
      overflow: hidden;
      float: left;
      margin: 2em 1.5%;
      padding: 1em;
      background: lighten( #FAFAFA, 2% );
      border: 1px solid darken( #FAFAFA, 2% );
      .repo-item-description {
        height: 7.5em;
        position: relative;
        overflow: hidden;
        padding: 0 20px 0 0;
      }
    }
  }
}
